html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 23px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

input {
	-webkit-appearance: none;
	-webkit-border-radius: none;
	border-radius: 0;
}

.text {
	margin-bottom: 54px;
}

.cursor-pointer {
	cursor: pointer;
}

.outline-none {
	outline: none;
}

.header-top {
	min-height: 231px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.header-inner {
	padding: 55px 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 191px;
}	

.header-inner__logo {
	width: 205px;
}

.header-inner__contacts {
	max-width: 515px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	color: #1c3665;	
}

.header-inner__phone, .header-inner__planet {
	margin-right: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.header-inner__phone {
	background-image: url(../img/phone.png);
}

.header-inner__planet {
	background-image: url(../img/planet.png);
	margin-left: 45px;
}

.header-inner__numbers {
	width: 136px;
}

.header-menu {
	display: flex;
}

.header-menu a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.header-menu__list {
	display: flex;	
}

.header-menu__list a {
	background: #245a9f;
	padding: 20px 38px;
	transition: all .5s;
}

.header-menu__list a:hover {
	background: #4183d7;
}

.header-menu__btn {	
	margin-left: 13px;
}

.header-menu__btn a {
	background: #4183d7;
	padding: 20px 50px;
}

.header-bottom {
	background: url(../img/slider-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.header-slider {
	margin-left: 176px;
}

.header-slider__item {  
	color: #fff;
	display: flex;
	min-height: 698px;
	align-items: center;
}

.title {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #fff;
	line-height: 52px;
	font-weight: 700;
}

.header-slider__title {
	font-weight: 700;
	letter-spacing: 6px;
}

.btn { /*!*/
	text-transform: uppercase;
	padding: 15px 0px;
	border: solid 1px #fff;
	border-radius: 3px;
	border-radius: 25px;
    display: inline;
    color: #fff;
}

.btn-link:hover {
	color: #000;
}

.btn-link {
	color: #fff;
	padding: 15px 27px;
	outline: none;
}

.header-slider__description {
	max-width: 569px;
	padding-left: 10px;
}

.header-slider__aside {
	max-width: 394px;
	background: #3567a6;
	min-height: 400px;
	text-align: center;
}

.header-slider__appointment {
	padding: 40px 29px;
	border-bottom: #fff solid 1px;
}

.header-slider__appointment-title {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.header-slider__info-title {
	margin-bottom: 18px;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	line-height: 33px;
	text-transform: uppercase;
}

.header-slider__btn-appointment {
	margin-bottom: 32px;
}

.header-slider__info {
	padding: 36px 29px;
}

.header-slider__info-subtitle {
	margin-bottom: 15px;
}

.header-slider__info-schedule {
	display: flex;
	justify-content: space-around;
}

.header-slider__days {
	width: 156px;
}

.header-slider__hours {
	width: 122px;
}

.slick-prev, .slick-next {
	font-size: 0;
	width: 20px;
	height: 20px;
	background: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	outline: none;
	position: absolute;
}

.slick-prev {
	left: -54px;
    bottom: 50%;
    transform: translateY(50%)
}

.slick-next {
	top: 50%;
    right: -36px;
    transform: translateY(-50%);
}

.slick-prev:before, .slick-next:before {
	font-size: 40px;
}

.slick-prev:before {
	font-family: FontAwesome;
	content: '\f137';
}

.slick-next:before {
	content: '\f138';
	font-family: FontAwesome;	
}

.inner {
	padding: 90px 0;
}

.info {
	text-align: center;
	padding: 0px 122px;
}

.services__title {
	color: #4183d7;
	letter-spacing: 3px;
}

.services__text {
	margin-bottom: 153px;
}

.services__items {
	display: flex;
	justify-content: space-between;
}

.services__item {
	width: 360px;
	height: 212px;
	background-color: #f7f7f7;
	border-left: #4183d7 solid 2px;
	border-right: #4183d7 solid 2px;
	border-bottom: #4183d7 solid 2px;
	position: relative;
}

.services__item-square {
	width: 165px;
	height: 147px;
	background: #4183d7;
	background-image: url(../img/services-1.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: -96px;
	left: 96px;
}

.services__item-square--image-2 {
	background-image: url(../img/services-2.png);
}

.services__item-square--image-3 {
	background-image: url(../img/services-3.png);
}

.services__item-title {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 120px;
	color: #000;
}

.form {
	background: url(../img/form-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.form__inner {
	display: flex;
	justify-content: space-between;
	min-height: 634px;
    align-items: center;
}

.form__info {
	max-width: 534px;
}

.form__text {
	color: #fff;
}

.form__appointment-items {
	display: flex;
	flex-direction: column;
}

.form__title-appointment {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
}

.form__btn {
	background-color: transparent;  /*!*/
	align-self: flex-end;
}

.form__input-item, 
.select2 {
	padding: 14px;
	background: transparent;
	border: #fff 1px solid;
	color: #fff;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	width: 457px;
	outline: none;
}
    
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 
	color: #fff;  
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #fff;
}

.form__pickers {
	display: flex;
	justify-content: space-between;
}

.form__datepicker {
	width: 122px;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 98px center;
}

.datepicker--day-name {
    color: #4183d7;
}

.form__timepicker {
	width: 141px;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 118px center;
}

.ui-timepicker-standard a {
	cursor: pointer;
}

.ui-timepicker-standard {
    font-family: 'Open Sans', sans-serif;
}

.select2 {
	width: 170px !important;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 148px center;
}

.select2-container 
.select2-selection--single 
.select2-selection__rendered {
	padding: 0;
	color: #fff;
}

.select2-container--default 
.select2-selection--single 
.select2-selection__placeholder {
    color: #fff;
}

.select2-container--default 
.select2-selection--single {
	background-color: transparent;
	border: none;
}

.select2-container--default 
.select2-search--dropdown 
.select2-search__field {
	display: none;
}

.select2-results__option {
    padding: .2em .4em;
    border: 1px solid transparent;
    color: #222;
    font-size: 1.1em;
}

.select2-container--default 
.select2-results__option--highlighted[aria-selected] {
	background-color: #dadada;
	border: 1px solid #999;
	color: #212121;
}

.select2-dropdown {
    padding: 2px;
    border: 1px solid #AAA;
}

.select2-search--dropdown {
    padding: 0;
}

.form__dropdown-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form__textarea {
	height: 113px;
	resize: none; /*!*/
}

.advantages__title {
	color: #4183d7;
	letter-spacing: 2px;
}

.advantages__items {
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	position: relative;
}

.advantages__item-text {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	position: absolute;
	color: #fff;
	text-align: center;
	line-height: 36px;
	top: 50%;
	transform: translateY(-50%); /*!*/
	width: 100%;
}

.doctors__inner {
	padding-top: 0px
}

.doctors__title {
	color: #4183d7;
	letter-spacing: 2px;
}

.doctors__item {
	position: relative;
}

.doctors__items {
	display: flex;
	justify-content: space-between;
}

.doctors__description {
	background-color: rgba(76,136,214, 0.8);
	text-align: center;
	color: #fff;
	position: absolute;
	width: 100%;
	bottom: 6px;
}
.doctors__name {
	font-size: 20px;
	font-weight: 700;
}

.doctors__specialty {
	font-style: italic; /*!*/
	margin-bottom: 19px;
}

.doctors__contacts {
	width: 165px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 12px auto;
}

.structure {
	background-image: url(../img/structure-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.structure__inner {
	display: flex;
	justify-content: space-between;
}

.structure__item {
	text-align: center;	
}

.strucrure__item-image {
	margin-bottom: 15px;
}

.structure__item-text {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 35px;
}


.blog__title {
	color: #4183d7;
	letter-spacing: 2px;
}

.blog__items {
	display: flex;
	justify-content: space-between;
}

.blog__item {
	border-left: solid 4px #4183d7;
	position: relative;
}

.blog__date {
	background-color: #4183d7;
	padding: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	display: inline;
	position: absolute;
	right: 0px;
    top: 30px;
}

.blog__item-description {
	background-color: #f8f8f8;
	padding: 15px;
	max-width: 360px;
	margin-top: -6px;	
}

.blog__item-title {
	font-weight: 600;
	margin-bottom: 15px;
}

.blog__item-info {
	margin-bottom: 10px;
}

.blog__item-details {
	text-align: right;
}

.blog__item-link {
	text-transform: uppercase;
	font-weight: 700;
	color: #4183d7;
}

.contacts {
	background-image: url(../img/contacts-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.contacts__inner {
	display: flex;
	justify-content: space-between;
	color: #b0b0b0;
}

.contacts__title {
	color: #4183d7;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	letter-spacing: 3px;
}

.contacts__subtitle {
	margin-bottom: 20px;
}

.contacts__schedule {
	display: flex;
	justify-content: space-between;
}

.contacts__links {
	width: 254px;
	text-transform: uppercase;
}

.contacts__links-items {
	display: flex;
	justify-content: space-between;
}

.contacts__link {
	color: #b0b0b0;
}

.contacts__link:hover {
	color: #fff;
}

.contacts__form {
	position: relative;
}

.contacts__input-email {
	width: 304px;
	padding: 14px;
	background: transparent;
	border: #fff 1px solid;
	color: #fff;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.contacts__btn {
	background-image: url(../img/email-bg.png);
	background-repeat: no-repeat;
    background-size: 59px;
    padding: 36px;
    background-color: inherit;
    border: 1px;
    position: absolute;
    right: 65px;
}

.contacts__logos {
	width: 305px;
    display: flex;
    justify-content: space-between;
}

.footer__inner {
	background-color: #0f0f0f;
	color: #fff;
	text-align: center;
	padding: 45px 0;
}

@media (max-width: 1610px) {
	.header-slider {
    	margin-left: 348px;
	}

	.header-slider__item {
    	justify-content: flex-start;
   		min-height: 576px;
	}

	.header-slider__description {
		width: 54%;
	}

	.header-slider__aside {
    	max-width: 356px;
	}

}

@media (max-width: 1570px) {
	.header-bottom {
		background-size: auto;
	}
}

@media (max-width: 1350px) {
	.header-bottom {
		background-size: 1412px;
	}

	.header-slider__item {
    	min-height: 512px;
	}
}

@media (max-width: 1280px) {
	.header-slider {
		width: 581px;
	}

	.header-slider__item {
    	justify-content: space-between;
	}

	.header-slider__description {
    	width: 45%;
	}

	.header-slider__aside {
    	max-width: 308px;
	}

	.header-slider__info-title {
    	font-size: 22px;
    	line-height: 32px;
    	margin-bottom: 20px;
	}

	.header-slider__appointment {
    	padding: 18px 29px;
	}

	.header-slider__info {
    	padding: 18px 29px;
	}

	.title {
    	font-size: 28px;
    	line-height: 41px;
	}

	.text {
    	margin-bottom: 34px;
	}

	.btn {
    	padding: 11px 0px;
    }

    .services__info {
    	margin-bottom: 135px;
    }

    .form__btn {
    	padding: 15px 27px;
    }

    .contacts__btn {
    	right: 61px;
	}
}

@media (max-width: 1200px) {
	.header-bottom {
		background-image: url(../img/slider-bg-adapt.png);
	}

	.header-slider {
		margin-left: 59px;
	}

	.slick-list {
		width: 900px;
	}

	.header-slider__item {
		width: 900px;
		justify-content: space-around;
	}

	.slick-next {
    	right: -334px;
    }

    .slick-prev {
        left: -44px;
    }

    .services__item-square {
    	width: 146px;
    	height: 135px;
    	top: -79px;
    	left: 82px;
	}

	.services__item {
    	width: 310px;
    }	

	.advantages__image {
		width: 80%;
	}

	.advantages__item-text {
    	font-size: 22px;
    	line-height: 31px;
	}

	.advantages__item {
    	text-align: center;
	}

	.doctors__image {
		width: 67%;
	}

	.doctors__item {
    	text-align: center;
	}

	.doctors__description {
    	width: 67%;
    	right: 60px;
	}

	.blog__items {
    	padding-left: 100px;
	}

	.blog__item-description,
	.blog__image {
		width: 70%;
	}

	.blog__item-description {
		padding: 7px;
		margin-top: 0px;		
	}

	.blog__date {
    	display: block; 
    	position: static; 
		width: 70%;
	}

	.contacts__signup {
    	width: 30%;
	}

	.contacts__links {
		width: 25%;
	}

	.contacts__address {
		width: 30%;
	}

	.contacts__input-email {
    	width: 198px;
	}

	.contacts__btn {
		position: static;
		margin-left: -5px;
	}
}



@media (max-width: 1100px) {
	.header-menu__btn a {
    	padding: 20px 25px;
	}

	.header-menu__list a {
    	padding: 20px 25px;
	}

	.header-menu {
    	justify-content: center;
	}

	.doctors__description {
    	right: 58px;
	}
}

@media (max-width: 1070px) {
	.doctors__description {
    	right: 57px;
	}
}

@media (max-width: 1054px) {
	.doctors__description {
    	right: 56px;
	}
}

@media (max-width: 1040px) {
	.doctors__description {
    	right: 55px;
	}
}


@media (max-width: 1020px) {
	.header-slider__item {
    	justify-content: center;
    	width: 800px;
	}

	.slick-list {
		width: 800px;
	}

	.slick-next {
    	right: -237px;
	}

	.services__item-title {
		font-size: 22px;
	}

	.services__item {
    	width: 250px;
	}

	.services__item-square {
    	width: 127px;
    	height: 132px;
    	top: -69px;
    	left: 61px;
	}

	.doctors__description {
    	right: 54px;
	}

	.contacts__links {
    	width: 36%;
	}

	.contacts__logos {
    	width: 263px;
	}	
}

@media (max-width: 988px) {
	.doctors__description {
    	right: 52px;
	}

	.blog__item-description, .blog__image {
    	width: 85%;
	}

	.blog__date {
    	width: 85%;
	}

	.blog__items {
    	padding-left: 40px;
	}
}

@media (max-width: 954px) {
	.doctors__description {
    	right: 50px;
	}

	.contacts__btn {
    	background-size: 51px;
	}

	.contacts__input-email {
	    width: 171px;
	    font-size: 13px;
	    padding: 11px;
	    vertical-align: top;
	}
}

@media (max-width: 930px) {
	.header-slider__description {
    	width: 37%;
	}

	.header-slider__info-title {
    	font-size: 20px;
    	line-height: 29px;
    	margin-bottom: 16px;
	}

	.header-slider__aside {
    	min-height: 375px;
    	max-width: 276px;
	}

	.slick-list {
		width: 686px;
	}

	.header-slider__item {
		width: 686px;
	}

	.slick-next {
    	right: -121px;
	}

	.doctors__description {
    	right: 49px;
	}
}

@media (max-width: 905px) {
	.doctors__description {
    	right: 48px;
	}
}


@media (max-width: 890px) {
	.header-menu__btn a {
    	padding: 21px 15px;
	}

	.header-menu__list a {
    	padding: 21px 15px;
	}

	.doctors__description {
    	right: 47px;
    	height: 38%;
	}

	.doctors__specialty {
    	margin-bottom: 9px;
	}

	.doctors__contacts-icon {
		width: 80%;
	}
}

@media (max-width: 864px) {
	.doctors__description {
    	right: 47px;
	}

	.contacts__logos {
    	width: 248px;
	}

	.contact__logo {
		width: 80%;
	}

	.contacts__btn {
    	background-size: 39px;
	}

	.contacts__input-email {
    	width: 139px;
    	padding: 6px;
	}

	.contacts__link {
    	font-size: 11px;
	}

	.contacts__subtitle {
    	font-size: 12px;
	}

	.contacts__schedule {
    	font-size: 12px;
	}

	.contacts__title {
    	font-size: 19px; 
	}
}


@media (max-width: 860px) {
	.doctors__description {
    	right: 46px;
	}
}

@media (max-width: 842px) {
	.doctors__description {
    	right: 45px;
	}
}

@media (max-width: 826px) {
	.doctors__description {
    	right: 44px;
    }	
}


@media (max-width: 820px) {
	.title {
    	font-size: 25px;
    	line-height: 34px;
	}

	.header-slider__item {
		width: 600px;
	}

	.slick-list {
		width: 600px;
	}

	.slick-next {
    	right: -53px;
	}

	.services__item-title {
		font-size: 21px;
		margin-top: 143px;
	}

	.services__items {
    	align-items: center;
    	flex-direction: column;
	}

	.inner {
    	padding: 40px 0;
	}

	.services__text {
    	margin-bottom: 10px;
	}

	.services__item {
    	margin-bottom: 74px;
	}

	.services__item-square {
    	top: -42px;
	}

	.services__info {
    	margin-bottom: 56px;
	}

	.form__appointment-item, .select2 {
    	width: 353px;
	}

	.form__datepicker {
    	width: 105px;
    	background-position: 86px center;
    }
    
    .form__timepicker {    
    	width: 114px;
    	background-position: 86px center;
	}

	.select2 {
    	width: 124px !important;
    	background-position: 106px center;
	}

	.advantages__item {
    	margin-bottom: 20px;
	}

	.advantages__items {
    	flex-direction: column;
	}

	.advantages__image {
    	width: 58%;
	}

	.doctors__description {
    	height: 41%;
    	width: 60%;
    	position: static;
    	margin: 0 auto;
	}

	.doctors__items {
    	flex-direction: column;
    	margin-bottom: 20px;
	}

	.doctors__image {
    	width: 60%;
	}

	.doctors__item {
		margin-bottom: 20px;
		position: static; 
	}

	.structure__inner {
    	flex-direction: column;
	}

	.structure__item {
    	margin-bottom: 30px;
	}

	.blog__items {
    	padding-left: 0; 
    	flex-direction: column;
	}

	.blog__item-description {
    	max-width: none; 
    }

    .blog__item {
    	margin-bottom: 40px;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	border: none;
	}	

	.blog__item-description, .blog__image {
    	width: 70%;
	}

	.blog__date {
    	width: 70%;
	}

	.contacts__logos {
    	width: 200px;
	}
}


@media (max-width: 780px) {
	.header-inner__logo {
    	width: 143px;
	}

	.header-inner__contacts {
   		max-width: 414px;
	}

	.header-inner__links {
		width: 35%;
	}

	.header-inner__phone, .header-inner__planet {
    	margin-right: 10px;
    	margin-left: 0;
    }

    .header-menu__list a {
    	font-size: 12px;
	}

	.header-menu__btn a {
    	font-size: 12px;
	}
    	
}

@media (max-width: 750px) {
	.header-slider__item {
    	flex-direction: column;
    	justify-content: space-around;
	}

	.header-slider__description {
    	width: 76%;
	}

	.header-slider__aside {
    	min-height: 100px;
    	display: flex;
    	max-width: 564px;
	}

	.header-slider__btn-link {
		width: 100%;
	}

	.header-slider__info {
    	padding: 12px 0px;
    	margin-left: 7px;
	}

	.header-slider__appointment-title {
		display: none;
	}

	.header-slider__appointment {
		border: none;
	}

	.header-slider__aside {
    	flex-direction: column-reverse;
	}

	.text {
    	margin-bottom: 16px;
	}

	.header-slider__info-subtitle {
    	margin-right: 8px;
	}

	.header-slider__item {
		width: 500px;
	}

	.slick-list {
		width: 500px;
	}

	.slick-next {
    	right: 63px;
	}

	.btn-link {
    	padding: 15px 11px;
	}

	.form__btn {
    	padding: 12px 18px;
	}

	.contacts__input-email {
    	width: 200px;
	}

	.contacts__links {
    	width: 29%;
	}

	.contacts__inner {
    	flex-direction: column;
    	align-items: center;
	}

	.contacts__address, 
	.contacts__links, 
	.contacts__signup {
    	width: 48%;
    	margin-bottom: 20px;
	}
}


@media (max-width: 680px) {
	.header-menu__btn a {
    	padding: 21px 10px;
	}

	.header-menu__list a {
    	padding: 21px 10px;
	}

	.header-slider {
		margin: 0;
		width: 518px;
		display: flex;
    	justify-content: flex-end;
	}

	.slick-prev:before, .slick-next:before {
    	font-size: 29px;
	}

	.slick-list {
    	width: 432px;
	}
	
	.slick-next {
    	right: -17px;
	}

	.slick-prev {
    	left: 52px;
	}

	.title {
		margin-bottom: 0;
	}

	.text {
    	font-size: 12px;
	}

	.services__text {   
    	font-size: 14px;
	}

	.form__btn {
    	padding: 12px 1px;
	}	

	.form__btn-link {
		padding: 0px 0px;
	}
}

@media (max-width: 610px) {
	.header-top {
    	min-height: 169px;
	}

	.header-inner {
    	height: 123px;
	}

	.header-menu__list {
    	margin-bottom: 34px;
    	display: block;
		margin: 0;
	}

	.header-menu {
		display: none;
		clear: both;
		text-align: center;
		background-color: #245a9f;		
	}

	.header-menu__list a {
    	padding: 4px 10px;
    	background: none;
    	font-size: 14px;
	}

	.header-menu__btn {
    	margin-left: 0px; 
	}

	.header-menu__btn a {
    	padding: 3px 10px;
    	font-size: 14px;
	}

	.header-menu__list-item {
		margin-bottom: 7px;
	}

	.header-menu__toggle {
	    position: relative;
	    width: 34px;
	    height: 30px;
	    float: right;
	}

	.header-menu__toggle span {
		position: absolute;
		background-color: #245a9f;
		width: 85%;
		height: 2px;
		top: 13px;
	}

	.header-menu__toggle span:before, .header-menu__toggle span:after {
		content: '';
		width: 100%;
		height: 2px;
		background-color: #245a9f;
		position: absolute;
	}

	.header-menu__toggle span:before {
		top: 7px;
	}

	.header-menu__toggle span:after {
		bottom: 7px;
	}

	.form__inner {
    	flex-direction: column;
    	justify-content: space-around;
	}

	.contacts__input-email {
    	width: 143px;
	}

}



@media (max-width: 580px) {
	body {
		font-size: 13px;
	}

	.header-inner__logo {
    	width: 112px;
	}

	.header-inner__phone, .header-inner__planet {    
    	width: 50px;
	}

	.header-inner__numbers {
    	width: 116px;
	}

	.slick-list {
    	width: 332px;
	}

	.header-slider {
    	justify-content: center;
	}

	.header-slider__item {
		width: 332px;
	}

	.title {
    	font-size: 21px;
    	line-height: 30px;
	}

	.header-slider__btn-link {
    	font-size: 12px;
	}

	.header-slider__description {
		width: 85%;
    	padding: 0; 
	}

	.slick-next {
    	right: 72px;
	}
	
	.header-slider__hours {
    	width: 93px;
	}
}

@media (max-width: 550px) {
	.header-slider {
    	width: 432px;
	}

	.slick-next {
    	right: 35px;
	}

	.slick-prev {
    	left: 18px;
	}

	.info {
    	padding: 0;
	}

	.inner {
    	padding: 30px 0;
	}
}


@media (max-width: 490px) {
	.header-inner {
    	padding: 15px 2px;
    	height: 118px;
	}

	.header-inner__logo {
    	width: 98px;
	}

	.header-inner__phone, .header-inner__planet {
    	display: none;
	}

	.header-inner__contacts {
		justify-content: flex-start;
	}

	.advantages__item-text {
    	font-size: 17px;
    	line-height: 23px;
	}

	.form__input-item, .select2 {
    	width: 369px;
	}

	.form__datepicker {
    	width: 105px;
    	background-position: 86px center;
	}

	.form__timepicker {
    	width: 114px;
    	background-position: 86px center;
	}

	.contacts__input-email {
    	width: 111px;
	}

	.contacts__address, 
	.contacts__links, 
	.contacts__signup {
    	width: 60%;
	}

}

@media (max-width: 460px) {
	.header-slider {
    	width: 389px;
	}

	.slick-prev:before, .slick-next:before {
    	font-size: 22px;
	}

	.slick-next {
    	right: 14px;
	}

	.slick-prev {
    	left: 4px;
	}

}


@media (max-width: 410px) {
	.header-slider {
    	width: 289px;
    	margin-left: 32px;
	}

	.header-slider__item {
		width: 289px;
	}

	.slick-prev {
    	left: -26px;
	}

	.slick-next {
    	right: -15px;
	}

	.header-slider__aside {
    	width: 87%;
	}

	.header-slider__info-subtitle {
    	margin-bottom: 0px; 
	}

	.header-slider__info-title {
    	margin-bottom: 0px;
	}

	.header-slider__info {
    	padding: 2px 0px;
	}

	.btn {
    	padding: 9px 8px;
	}

	.header-slider__btn-link {
    	font-size: 11px;
	}

	.advantages__item-text {
    	font-size: 13px;
    	line-height: 18px;
	}

	.form__input-item, .select2 {
    	width: 329px;
	}

	.form__datepicker {
    	width: 81px;
    	background-position: 63px center;
	}

	.form__timepicker {
	    width: 85px;
	    background-position: 69px center;
	}

	.contacts__input-email {
		width: 111px;
	}
}


@media (max-width: 370px) {
	body {
		font-size: 12px;
	}

	.header-inner__numbers {
    	width: 100px;
	}

	.header-inner__logo {
    	width: 81px;
	}

	.header-slider {
    	margin-left: 20px;
	}

	.form__appointment-item, .select2 {
    	width: 300px;
	}

	.form__datepicker {
    	width: 85px;
    	background-position: 72px center;
	}

	.form__timepicker {
    	width: 99px;
    	background-position: 86px center;
	}

	.select2 {
    	width: 105px !important;
    	background-position: 92px center;
	}

	.contacts__address, .contacts__links, .contacts__signup {
    	width: 70%;
	}
}

@media (max-width: 350px) {
	.header-slider {
    	margin-left: 8px;
	}
	
	.text {
    	margin-bottom: 6px;
	}

	.form__input-item, .select2 {
    	width: 296px;
	}

	.form__datepicker {
    	width: 75px;
    	background-position: 59px center;
	}

	.form__timepicker {
    	width: 90px;
    	background-position: 74px center;
	}
}

@media (max-width: 335px) {
	.header-slider {
    	width: 275px;
	}
}



